[Unit]
Description=Daily AUR update via yay

[Timer]
OnCalendar=*-*-* 03:15:00
RandomizedDelaySec=5min
Persistent=true

[Install]
WantedBy=timers.target
